/* General Styles */
body {
    font-family: Lyon-Text, Georgia, Meera, ui-serif, serif;
    font-size: large;
    margin: 0;
    display: flex; /* Use flexbox to align sidebar and main content */
    background-color: #f4f4f4;
}

h1,h2,h3,h4{
    text-align: center;
    font-family:'Garamond';
}
h1{
    font-size:2em;
    font-weight: bold;
}
h2{
    font-size:1.7em;
    font-variant: small-caps;
}
h3{
    font-size:1.5em;
    font-variant: small-caps;
}
h4{
    font-size:1.2em;
    font-weight: 700;
}
/* Ensure the body takes up the full height of the viewport */
html, body {
    height: 100%;
    margin: 0;
}

/* Sidebar Styles */
#sidebar {
    width: 250px;
    background-color: #f7e4bb;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto; /* Sidebar scrolls if content is too long */
}

#sidebar header {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

#sidebar ul li a:hover {
    color: #007BFF;
}
.subtitle{
    text-align: center;
    font-style: italic;
}
/* Main Content Styles */
main {
    flex: 1; /* Allow main content to take up remaining space */
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;
    overflow: scroll;
    margin-right:250px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin:0.5em;
    text-align: justify;
    text-justify: inter-word;
    color: #333;
}

/* Button Styles (If needed) */
button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.annot{
    text-align: left !important;
    width:4em !important;
    flex-shrink: 0;
    color:#ca2405;
}
.annot-text{
    display: flex;
}
.italic{
    font-style: oblique;
    color:#ca2405;
}

.blatalic{
    font-style: oblique;
}