h1,h2,h3,h4{
    text-align: center;
}
.note{
    font-style: oblique;
    text-align: center;
}
.annot-text{
    display: flex;
}
em{
    color:#157294;
    margin-left:2em;
}
.annot{
    width:2em !important;
    flex-shrink: 0;
    color:#157294;
}
.scripture{
    color:lightseagreen
}
body{
    padding-left:13em;
    padding-right:15em;
    font-family: 'Garamond', serif;
    font-size: x-large;
}
p{
    text-align: justify;
    text-justify: inter-word;
}
