h1,h2,h3,h4{
    text-align: center;
    font-family:'Coelacanth';
    font-weight: 400;
    font-variant: small-caps;
}
body{
    padding-left:2em;
    padding-right:4em;
    font-family: 'Garamond';
    font-size:2em!important;
}  
.annot{
    text-align: right !important;
    width:2em !important;
    flex-shrink: 0;
    color:#ca2405;
}


.italic{
    font-style: oblique;
    color:#ca2405;
}

h4{
    font-variant: small-caps;
}
.blatalic{
    font-style: oblique;
}
p{
    margin:0.5em;
    text-align: justify;
    text-justify: inter-word;
}

.annot-text{
    display: flex;
}



.i1 p{
    padding-left: 1em !important;
}
