h1,h2,h3,h4{
    text-align: center;
}
.italic{
    font-style: oblique;
    color:#ca2405;
    
}
p{
    text-align: justify;
    text-justify: inter-word;
}

.annot-text{
    display: flex;

}
em{

    margin-left:2em;
}
.annot{
    text-align: right !important;
    width:2em !important;
    flex-shrink: 0;
    color:#ca2405;
}
body{
    padding-left:13em;
    padding-right:15em;
    font-family: 'Garamond', serif;
    font-size: x-large;
}

